$accordion-item-header-bg: $brand-bg-gradient;
$accordion-item-header-shadow: $brand-shadow-lg;
$accordion-item-header-padding: $space-8 $space-12;
$accordion-item-header-border: none;
$accordion-item-header-arrow-color: $brand-secondary;
$accordion-item-body-padding: $space-16 $space-12 0 $space-12;
