$card-bg: $brand-bg-gradient;
$card-shadow: $brand-shadow-lg;
$card-border: none;
$card-border-radius: $brand-border-radius;
$card-margin: 0 0 $space-16 0;
$card-color: $brand-text-color;

$card-header-padding: $space-16 $space-16 $space-8 $space-16;
$card-header-font-size: $font-size-h3;
$card-header-font-weight: $font-weight-light;

$card-body-padding: $space-8 $space-16 $space-16 $space-16;
$card-body-font-size: inherit;

$card-footer-padding: $space-8;
