$tab-group-bg: $brand-bg-color;
$tab-group-shadow: none;
$tab-group-border: none;
$tab-group-padding: $space-20 0 0 0;
$tab-group-margin: 0;

$tab-group-header-bg: $brand-bg-color;
$tab-group-header-item-padding: $space-8 $space-12;
$tab-group-header-item-active-bg: $brand-bg-color;
$tab-group-header-item-active-color: foreground-color($tab-group-header-item-active-bg);

$tab-item-transition: none;
